<div class="container-fluid">
	<div class="row">
  		<div class="col-xs-6">
  			<h1> Bienvenido a Critter </h1>
			<h3> ¿Qué desea hacer? </h3>
		</div>
		<div class="col-xs-6">
  			<ul>
	 	 		<li> <%= link_to "Listado de Monstruos", monstruos_path %></li>
				<li> <%= link_to "Ver el primer monstruo", ver_monstruos_path %></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
<button type="button" class="btn btn-link">Correo</button></div>
		<div class="col-sm-4">
		<button type="button" class="btn btn-link">Twitter</button></div>
		<div class="col-sm-4">
		<button type="button" class="btn btn-link">Facebook</button></div>
	</div>
</div>