<!------------------------------------------------------ 
Debe mostrarse la información del primer monstruo sin
usar el id.
Se debe mostrar el nombre (como título) y la descripción 
(como párrafo).
------------------------------------------------------>

<% monst = Monstruo.first %>
<header><h1> <%=monst.nombre%> </h1></header>
<p> <%=monst.descripcion %> </p>